 <div id="cartPage" class="carousel menu-nav" data-flickity='{ "cellAlign": "left", "contain": true }'>

  <div class="carousel-cell-column">
    <img class="css-1q0mskh" src="https://cdn.shopify.com/s/files/1/0566/6393/3065/files/TLF_Contour_High_Waisted_Scrunch_Leggings_-_Butt_Scrunch_Leggings_-_Blue3.jpg?v=1652392102">
    <div class="card">

      <h2>Contour Scrunch Butt Leggings</h2>
      <div class="quick-buy-container">
        <div class="quick-buttons">
          <div class="quick-buy-container__size-buttons">

            <button data-variant="39785913450698" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              S
            </button>

            <button data-variant="39785913516234" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              M
            </button>

            <button data-variant="39785913549002" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              L
            </button>

            <button data-variant="39785913581770" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              XL
            </button>
            
            <button data-variant="39785913581770" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              2XL
            </button>

          </div>
        </div>
      </div>

      <p><button id="add-to-cart-cart">
          <p class="B">Add to cart</p>
        </button></p>
    </div>
  </div>

  <div class="carousel-cell-column">
    <img class="css-1q0mskh" src="https://cdn.shopify.com/s/files/1/0566/6393/3065/files/TLF_Contour_High_Waisted_Scrunch_Leggings_-_Butt_Scrunch_Leggings_-_Blue3.jpg?v=1652392102">
    <div class="card">

      <h2>Contour Scrunch Butt Leggings</h2>
      <div class="quick-buy-container">
        <div class="quick-buttons">
          <div class="quick-buy-container__size-buttons">

            <button data-variant="39785913450698" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              S
            </button>

            <button data-variant="39785913516234" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              M
            </button>

            <button data-variant="39785913549002" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              L
            </button>

            <button data-variant="39785913581770" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              XL
            </button>
            
              <button data-variant="39785913581770" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              2XL
            </button>

          </div>
        </div>
      </div>

      <p><button id="add-to-cart-cart">
          <p class="B">Add to cart</p>
        </button></p>
    </div>
  </div>
  <div class="carousel-cell-column">
    <img class="css-1q0mskh" src="https://cdn.shopify.com/s/files/1/0566/6393/3065/files/TLF_Contour_High_Waisted_Scrunch_Leggings_-_Butt_Scrunch_Leggings_-_Blue3.jpg?v=1652392102">
    <div class="card">

      <h2>Contour Scrunch Butt Leggings</h2>
      <div class="quick-buy-container">
        <div class="quick-buttons">
          <div class="quick-buy-container__size-buttons">

            <button data-variant="39785913450698" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              S
            </button>

            <button data-variant="39785913516234" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              M
            </button>

            <button data-variant="39785913549002" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              L
            </button>

            <button data-variant="39785913581770" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              XL
            </button>
            
              <button data-variant="39785913581770" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              2XL
            </button>

          </div>
        </div>
      </div>

      <p><button id="add-to-cart-cart">
          <p class="B">Add to cart</p>
        </button></p>
    </div>
  </div>
  <div class="carousel-cell-column">
    <img class="css-1q0mskh" src="https://cdn.shopify.com/s/files/1/0566/6393/3065/files/TLF_Contour_High_Waisted_Scrunch_Leggings_-_Butt_Scrunch_Leggings_-_Blue3.jpg?v=1652392102">
    <div class="card">

      <h2>Contour Scrunch Butt Leggings</h2>
      <div class="quick-buy-container">
        <div class="quick-buttons">
          <div class="quick-buy-container__size-buttons">

            <button data-variant="39785913450698" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              S
            </button>

            <button data-variant="39785913516234" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              M
            </button>

            <button data-variant="39785913549002" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              L
            </button>

            <button data-variant="39785913581770" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              XL
            </button>
            
              <button data-variant="39785913581770" data-cart-quantity="1" onclick="onQuickBuyButtonClicked(this)">
              2XL
            </button>

          </div>
        </div>
      </div>

      <p><button id="add-to-cart-cart">
          <p class="B">Add to cart</p>
        </button></p>
    </div>
  </div>
 

     
</div>

<style>
@media only screen and (max-width: 600px) {
  .carousel.menu-nav .flickity-viewport {
    height: 400px !important;
    width: 350px !important;
    overflow: scroll;
    position: relative;
  }
}
.carousel.menu-nav .flickity-viewport {
  margin-left: 7px;
}
.carousel-cell-column.is-selected {
  margin-right: 0px !important;
}
#MainContent.cart .carousel.menu-nav .carousel-cell-column img {
  height: unset;
  width: 128px;
  margin: auto;
}
.carousel.menu-nav button.flickity-button {
  display: none;
}
.carousel.menu-nav ol.flickity-page-dots {
  display: none;
}
button.flickity-button {
  display: none;
}
ol.flickity-page-dots {
  display: none;
}
.carousel.menu-nav h2 {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
}
.carousel.menu-nav button.flickity-button {
  display: none;
}
.carousel.menu-nav ol.flickity-page-dots {
  display: none;
}
.carousel.menu-nav .carousel-cell-column {
  margin-right: 10px;
  counter-increment: carousel-cell;
  width: 128px;
}
#cartPage {
  display: flex;
  position: relative;
}
</style>