{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}


{%- paginate blog.articles by 6 -%}

  <div class="main-blog career page-width">
    <h1 class="title--primary">Search for all open positions at TLF</h1>
    <p style="color:#909090;font-size:.875em">EXPLANATION HOW TO APPLY (UPLOAD RESUME, ZIPREcruiter, EMAIL), SOFT COPY. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="blog-articles">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {%- render 'career-article-card', article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

<style>
  @media only screen and (min-width: 750px) {
.main-blog.career h1 {
    font-size: 2.625em;
    font-weight: 500;
}
  }
  .main-blog.career .article-card__info {
    text-align: left;
    padding: 0;
}
.main-blog.career span.caption-with-letter-spacing {
    color: #909090;
}
  .main-blog.career .article-card__header h2 {
    font-weight: 600;
}
  .main-blog.career .blog-articles {
    display: block !important;
}
  .main-blog.career .article-card__header {
    display: flex;
    flex-direction: column;
}
  .main-blog.career .blog-articles__article {
    padding: 3rem 0 0.5rem 0;
}
  .main-blog.career .pagination__item--current:after, .main-blog.career .pagination__item:hover:after {
    display: none;
}
  .main-blog.career .pagination__item--current {
    background-color: #2e2e2e;
    border-radius: 50%;
    color: #ffffff;
}
</style>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label",
      "info": "t:sections.main-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
