<style>
  .sc-1ru733p-0.dKJYSa.smsb-subscribe-button {
    max-width: 144px  !important;
    font-size: 16px !important;
    background-color: #2e2e2e !important;
    letter-spacing: .01em;
}
  h1.sc-75msgg-0.daQklE {
    color: #2e2e2e !important;
}
  .JDmSX.JDmSX {
    background-color: #dadada !important;
}
  h2.sc-75msgg-0.dYyTYn {
    color: #2e2e2e !important;
    padding-top: 9px;
    padding-bottom: 16px;
}
.sc-75msgg-0.ignxNX.sms-policy-text {
    color: #868686 !important;
    max-width: 880px;
    margin: 0 auto;
    padding-top: 29px;
}
  #smsb-button-field-subscribe {
    font-family: 'Poppins', sans-serif;
}
  .form-8-namespace .inline-form .form-holder.email-disabled {
    max-width: 1043px !important;
    margin-left: auto;
    margin-right: auto;
}
  .jMVuDF.jMVuDF .input-field-wrapper {
    margin: 0 1.8rem 0 0 !important;
}
  @media only screen and (max-width: 600px) {
    .sc-1ru733p-0.dKJYSa.smsb-subscribe-button {
    margin-top: 2.25rem !important;
    max-width: 150px !important;
    font-size: 14px !important;
    padding: 12px 18px !important;
    letter-spacing: .05em !important;
}
    .sc-75msgg-0.ignxNX.sms-policy-text {
    padding-top: 17px !important;
    line-height: 14px !important;
    font-size: 9px !important;
    font-weight: 400 !important;
}
    h2.sc-75msgg-0.dYyTYn{
      padding-bottom: 0;
      font-size: 16px !important;
    }
      h1.sc-75msgg-0.daQklE {
        font-size: 34px !important;
}
    .fWJPgO.fWJPgO {
    padding: 50px 22px 29px 22px !important;
}
  .jMVuDF.jMVuDF {
    flex-direction: column;
}
    .jMVuDF.jMVuDF .input-field-wrapper {
    margin: 0 !important;
}
  }
    @media only screen and (min-width: 601px) {
    .fWJPgO.fWJPgO {
    padding: 79px 22px !important;
}
  }
  @media (min-width: 749px) and (max-width: 1500px) {
    h1.sc-75msgg-0.daQklE {
    margin-bottom: 5px !important;
    }
    .sc-75msgg-0.ignxNX.sms-policy-text {
    padding-top: 14px;
      line-height: 13px !important;
    }
    .kZWJet.kZWJet {
    margin-top: 25px;
    }
    h2.sc-75msgg-0.dYyTYn {
    padding-bottom: 5px;
    }
    .kZWJet.kZWJet > div[type="button"] {
    padding: 12px;
    }
    .fWJPgO.fWJPgO {
    max-width: 680px;
    margin: 0 auto;
    padding-top: 29px !important;
    padding-bottom: 29px !important;
    }
    .jMVuDF.jMVuDF {
    flex-direction: row !important;
    }
    .daQklE.daQklE {
    font-size: 30px !important;
    }
    #smsb-button-field-subscribe {
    font-size: 18px;
    }
  }
</style>

<div id="footerFormContainer_95032"></div>
     <script>
       let footerFormContainer_95032 = () => {
            const footerFormScript = document.createElement('script');
            footerFormScript.setAttribute("src", "https://forms.smsbump.com/161722/form_95032.js?ver=1649954366");
            footerFormScript.setAttribute("type", "text/javascript");
             console.log('loaded')
            const head = document.head || document.getElementsByTagName('head')[0]
            head.appendChild(footerFormScript)
 
            footerFormScript.onload = function () {
              SMSBumpForm.default.render()
            }
       }
       
       footerFormContainer_95032()
           
       document.addEventListener("shopify:section:load", function(event) {
         footerFormContainer_95032()
       });
       document.addEventListener("shopify:section:select", function(event) {
         footerFormContainer_95032()
       });
     </script>     
     {% schema %}
     {
       "name": "SMSBump Collection Footer",
       "settings": [
         {
           "type" : "paragraph",
           "content" : "To edit your Collection Footer, go to [SMSBump](https://smsbump.yotpo.com/sms/) and open your Footer Form. Save your updated form and refresh this page."
         }
       ],
       "presets": [
         {
           "name": "SMSBump Collection Footer",
           "category": "Subscription Footer Forms"
         }
       ]
     }
     {% endschema %}
     {% stylesheet %}
     {% endstylesheet %}
     {% javascript %}
     {% endjavascript %}