.multicolumn2 .title {
  margin: 0;
}

.multicolumn2.no-heading .title {
  display: none;
}

.multicolumn2.background-secondary .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (min-width: 750px) {
    .multicolumn2 .button {
    margin-top: 4rem;
  }
  .multicolumn-list2 {
    margin-bottom: 4.75em !important;
}
  .multicolumn2.no-heading:not(.background-secondary) {
    margin-top: calc(6rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 749px) {
    .multicolumn-list2 {
    margin-bottom: 3.5em !important;
}
  .multicolumn2 .grid__item {
    width: calc(100% - 1.875rem);
}
  .multicolumn2:not(.background-secondary) {
    margin: 0 !important;
}
  .multicolumn2.no-heading.background-secondary {
    padding-top: 5rem;
  }
  .multicolumn2 .title-wrapper-with-link {
    margin-bottom: 0;
  }
}

.multicolumn-card__image-wrapper2--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper2--half-width {
  width: 50%;
}

.multicolumn-list__item2.center
  .multicolumn-card__image-wrapper2:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item2:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn2 .button {
  margin-top: 1.5rem;
}

.multicolumn-list2 {
    margin-block-end: 0;
    margin-left: 0;
    padding: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}

.multicolumn-list__item2:only-child {
  max-width: 72rem;
}

.multicolumn2:not(.background-none) .multicolumn-card {
  background: rgba(var(--color-foreground), 0.04);
  height: 100%;
}

.multicolumn2.background-secondary .multicolumn-card {
  background: rgb(var(--color-background));
}

.multicolumn2.background-secondary {
  padding: 4rem 0 5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn2.background-secondary {
    padding: calc(4rem + var(--page-width-margin)) 0
      calc(5rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 749px) {
  .multicolumn2.background-secondary .slider-buttons {
    margin-bottom: -2rem;
  }
}

.multicolumn2:not(.background-secondary) {
  margin: 5rem 0;
}

@media screen and (min-width: 750px) {
  .multicolumn2:not(.background-secondary) {
    margin: calc(5rem + var(--page-width-margin)) 0;
  }
}

.multicolumn-list2 h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 400;
}

.multicolumn-list2 p {
  font-size: 0.875em;
}

.multicolumn-list2 h3,
.multicolumn-list2 p {
  margin: 0;
}

.multicolumn-card-spacing2 {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info2 > :nth-child(2) {
  margin: 1rem 0 1.85rem 0;
}

.multicolumn-list__item2.center .media--adapt,
.multicolumn-list__item2 .media--adapt img {
  width: auto;
}

.multicolumn-list__item2.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn2 .page-width {
    padding: 0;
  }

  .multicolumn-list2 {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list__item2 {
    margin: 0 0 1rem;
    padding: 0;
  }

  .multicolumn-list2:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .multicolumn-list2.slider .multicolumn-list__item {
    width: calc(100% - 3rem);
  }

  .multicolumn-list2.slider .multicolumn-list__item + .multicolumn-list__item {
    padding-left: 0.5rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list2.slider,
  .multicolumn-list2.grid--4-col-desktop {
    padding: 0;
  }

  .multicolumn-list__item2,
  .grid--4-col-desktop .multicolumn-list__item2 {
    padding-bottom: 0;
  }

  .grid--2-col-tablet .multicolumn-list__item2 {
    margin-top: 1rem;
    max-width: 50%;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item2 {
    margin-top: 4rem;
  }

  .grid--2-col-tablet .multicolumn-list__item2:nth-of-type(-n + 2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 990px) {
  .grid--2-col-tablet.grid--4-col-desktop .multicolumn-list__item2 {
    max-width: 25%;
  }

  .grid--2-col-tablet.grid--4-col-desktop
    .multicolumn-list__item2:nth-of-type(-n + 4) {
    margin-top: 0;
  }
}

.background-none .multicolumn-card-spacing2 {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info2 {
    padding: 1.85rem 0rem 0rem 0rem;
}

.background-none .multicolumn-card__info2 {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info2 {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper2 + .multicolumn-card__info2 {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info2 {
  padding-left: 0.5rem;
}

.background-none
  .slider
  .multicolumn-card__image-wrapper2
  + .multicolumn-card__info2 {
  padding-left: 1.5rem;
}

.background-none
  .multicolumn-list2:not(.slider)
  .center
  .multicolumn-card__info2 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info2 {
    padding-bottom: 1rem;
  }

  .multicolumn.2background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper2 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .multicolumn-list2 .multicolumn-card__info2,
  .background-none
    .multicolumn-list2:not(.slider)
    .center
    .multicolumn-card__info2 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.multicolumn-card__info2 .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info2 .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 750px) {
.grid--4-col-desktop .multicolumn-list__item2, .multicolumn-list__item2 {
    padding-left: 0;
    padding-right: 1em;
}
}

.multicolumn-card__info2 p {
    font-family: 'Roboto', sans-serif;
}

.blog-learn-more a {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    color: #2e2e2e;
}

@media (min-width: 749px) and (max-width: 1500px) {
  .multicolumn-card__info2 {
    padding: 1rem 0rem 0rem 0rem;
}
  .media.media--transparent.media--adapt {
    height: 155px;
}
.multicolumn-card__info2 p {
    line-height: 17px;
}
}